@font-face {
  font-family: 'AGENCYFB';
  src: url('AGENCYFB.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AGENCYFB_0';
  src: url('AGENCYFB_0.TTF');
  font-weight: normal;
  font-style: normal;
}
