@import 'variables';
@import 'mixin';
@import 'transition';
@import 'element-ui';
@import 'sidebar';
@import 'iconfont/iconfont.css';

body {
  margin: 0;
  height: 100%;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus {
  outline: none;
}

hr {
  border: 0;
  border-top: 1px solid #dcdfe6;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  height: 100%;

  .scroll-container, .template-main {
    background-color: $appMainBgColor;
  }
}
.container-table-list {
  padding: 0 15px;
  border-radius: 5px;
  margin-bottom: 25px;
  background-color: $appConBgColor;

  .btn-list-border {
    margin: 0 -15px 15px !important;
    border-bottom: 1px solid $appConLineBgColor;

    .btn-list-left {
      text-align: left;
      .title {
        color: #409EFF;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
.app-container {
  padding: 20px;
}

.el-pagination {
  padding: 25px 0;
}

//组件淡入淡出
.fade-enter {
  opacity: 0.2;
}

.fade-leave {
  opacity: 1;
}

.fade-enter-active {
  transition: opacity .4s;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity .4s;
}

.el-header,
.el-footer {
  background-color: $headerBg;
  color: #fff;
  line-height: 60px;
  height: 60px;
  font-size: 14px;
  box-shadow: 2px 0 3px $navShadow;
  z-index: 1000;
  box-sizing: border-box;
  overflow: hidden;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100%;

  .app-header {
    .title {
      font-size: 24px;
    }
  }

  .app-content {
    flex: 1;
    display: flex;
    flex-flow: row;

    .app-nav {
      flex: 0 0 250px;
      background: $appBg;
    }

    .app-wrap {
      flex: 1;
      padding: 10px 20px;
      overflow: auto;

      .content-wrap {
        border: 1px solid $appBorder;
        border-top: none;
        padding: 0 20px;
      }
    }
  }
}


//组件自定义
.qxsz .el-table__body tr td {
  padding: 0;
}

.checkstyle .el-checkbox__label {
  white-space: normal; // float: right;
  vertical-align: middle;
  width: 12em;
}

.checkstyle .el-checkbox__input {
  padding-top: 5px;
}

div .el-badge__content {
  border: 0;
}

div.el-table--border::after,
div.el-table--group::after,
div.el-table::before,
span.el-checkbox__inner {
  z-index: 0;
}

.el-dialog--center div.el-dialog__header {
  background: #fff;
}

div.el-dialog__header {
  background: $dialogHeadBg;
  .el-dialog__title {
    color: $dialogHeadColor;
  }
  .el-dialog__headerbtn i {
    color: $dialogHeadColor;
    &:hover {
      color: $dialogHeadBtnColor;
    }
  }
}

.el-dialog--center div.el-dialog__body {
  padding: 0 20px;
}

div.el-dialog__body {
  padding: 15px 20px 0;
  .el-tabs {
    margin: 0 -20px;

    .el-tabs__header {
      padding: 0 30px;
    }
    .el-tab-pane {
      margin-bottom: -18px;
      .el-form-bottom {
        padding: 0 30px;
      }
    }
  }
}

.jbsztarea .el-textarea__inner {
  height: 200px;
  width: 400px;
}

.mbgl .el-tabs__content {
  height: 600px;
}

.el-dialog--center div.el-dialog__footer {
  padding: 20px 0;
}

.lccpupform label.el-form-item__label {
  text-align: left;
  width: 160px;
}

/**/
.template-main {
  padding: 15px;
}

/*按钮最下面*/
.btn-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  margin-left: -10px;
  background-color: $btnColor;
  box-shadow: 0 -1px 3px 0 $btnShadow;
}

.el-del-btn-item {
  padding: 20px 0;
  margin: 0 -20px;
  background-color: $btnColor;
  box-shadow: 0 -1px 3px 0 $btnShadow;
}

.btn-item-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 50px;
}

.btn-bottom .el-form-bottom {
  padding-bottom: 100px;
}

.btn-form-inline{
  margin-bottom: 10px;
}

.demo-form-inline {
  padding: 15px 15px 0;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: $appConBgColor;
}

/*header*/
.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%; // background-color: #545C64;
}

.navbar {
  height: $breadHeight;
  line-height: $breadHeight;
  border-radius: 0px !important;
  width: 100%;
  background-color: #EFF2F7;
  .hamburger-container {
    line-height: $breadLineHeightImg;
    height: $breadHeight;
    float: left;
    padding: 0 10px;
  }
  .screenfull {
    position: absolute;
    right: 90px;
    top: 16px;
    color: $navBarScrFull;
  }
  .avatar-container {
    height: $breadHeight;
    display: inline-block;
    position: absolute;
    right: 35px;
  }

  .hamburger {
    display: inline-block;
    cursor: pointer;
    width: $breadHeightImg;
    height: $breadHeightImg;
    transform: rotate(0deg);
    transition: .38s;
    transform-origin: 50% 50%;
  }

  .hamburger.is-active {
    transform: rotate(90deg);
  }

  .app-breadcrumb {
    padding-left: 15px;
    height: $breadHeight;
    line-height: $breadHeight;

    .breadbutton {
      float: left;
      margin: 4px 5px 0 0;

    }
  }
}
.detail-message{
  padding: 20px;
  .el-textarea__inner{
    border-width: 0;
  }
}

.notice {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px dotted rgba(255, 140, 29, 5);
  background-color: rgba(249, 255, 47, 0.5);
  p {
    &.title {
      padding-left: 0;
      font-weight: bold;
    }
    padding-left: 15px;
    margin-block-start: 3px;
    margin-block-end: 2px;
  }
}
.result-info {
  .title {
    font-size: 24px;
    color: #1C1D21;
  }
  .worker {
    font-size: 14px;
    color: #868B9A;
  }
  .center {
    text-align: center;
  }
  .detail {
    padding: 15px;
    margin: 30px 30%;
    border-radius: 8px;
    background-color: #e8e8e8;

    .el-form-item {
      padding-left: 30px;
      margin-bottom: 0;

      .price {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
.card-box {
  width: 260px;
  display: flex;
  border-radius: 6px;
  border: 1px solid #D2D5E1;
  align-items: center;
  padding: 12px;
  justify-content: flex-start;

  img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }
  .box-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    div {
      line-height: normal;
      padding-bottom: 5px;
      &.name {
        color: #606574;
        font-weight: bold;
        font-size: 20px;
      }
      &.desc {
        font-size: 13px;
        color: #868B9A;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}



