@charset "UTF-8";
/*fade*/
@import url(font/font.css);
@import url(iconfont/iconfont.css);
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s; }

.fade-enter,
.fade-leave-active {
  opacity: 0; }

/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s; }

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px); }

.breadcrumb-move {
  transition: all .5s; }

.breadcrumb-leave-active {
  position: absolute; }

.map-charts.charts {
  height: 100%;
  width: 100%; }

.nt-charts .legend {
  top: 0;
  left: 7px;
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.85); }
  .nt-charts .legend .legend-line {
    display: flex;
    line-height: 30px;
    font-family: Microsoft YaHei; }
    .nt-charts .legend .legend-line .name {
      white-space: nowrap;
      font-weight: bold;
      color: #5B8FF9;
      font-size: 14px;
      flex: 1; }
    .nt-charts .legend .legend-line .price {
      padding-left: 15px;
      font-weight: normal;
      color: #333333; }

.nt-echarts.map-mark-gasstation {
  padding: 10px;
  border-radius: 4px;
  color: #333333;
  width: 240px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.45); }
  .nt-echarts.map-mark-gasstation .title {
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Microsoft YaHei; }
  .nt-echarts.map-mark-gasstation .tag {
    display: flex;
    font-size: 12px;
    padding-top: 5px; }
    .nt-echarts.map-mark-gasstation .tag > div {
      height: 16px;
      line-height: 16px;
      padding: 0 10px;
      border-radius: 2px; }
      .nt-echarts.map-mark-gasstation .tag > div:first-child {
        margin-right: 5px; }
    .nt-echarts.map-mark-gasstation .tag .area-district {
      color: #5B8FF9;
      background: rgba(91, 143, 249, 0.2); }
    .nt-echarts.map-mark-gasstation .tag .all-district {
      color: #F6BD16;
      background: rgba(246, 189, 22, 0.2); }
  .nt-echarts.map-mark-gasstation .number {
    padding: 10px 0;
    display: flex;
    font-family: AGENCYFB;
    color: #5B8FF9;
    font-weight: bold;
    align-items: baseline;
    justify-content: space-between; }
    .nt-echarts.map-mark-gasstation .number > div {
      display: flex;
      align-items: baseline; }
      .nt-echarts.map-mark-gasstation .number > div .sign {
        padding: 0;
        font-size: 12px; }
      .nt-echarts.map-mark-gasstation .number > div .price {
        font-size: 20px; }
    .nt-echarts.map-mark-gasstation .number .truck {
      background-size: 14px auto;
      background-repeat: no-repeat;
      background-position: left center;
      background-image: url(../images/home/truck.png); }
      .nt-echarts.map-mark-gasstation .number .truck div {
        color: #333333;
        padding-left: 20px;
        font-weight: normal; }
  .nt-echarts.map-mark-gasstation .box-info {
    padding: 8px;
    border-radius: 2px;
    background-color: #EDF1F9;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 相当于 1fr 1fr 1fr */
    grid-template-rows: repeat(2, 1fr);
    /* fr单位可以将容器分为几等份 */
    grid-column-gap: 5px;
    grid-row-gap: 8px;
    grid-auto-flow: row; }
    .nt-echarts.map-mark-gasstation .box-info div {
      font-size: 12px;
      display: flex;
      height: 16px;
      line-height: 16px; }
      .nt-echarts.map-mark-gasstation .box-info div .box-iconfont {
        font-size: 12px;
        width: 16px;
        color: #5B8FF9;
        border-radius: 50%;
        padding: 0 1px;
        border: 1px solid #5B8FF9; }
      .nt-echarts.map-mark-gasstation .box-info div .box-text {
        margin-left: 2px; }

.cockpit {
  overflow: auto;
  background: #edf1f9;
  min-width: 1300px;
  padding-bottom: 100px; }
  .cockpit .tool-bar {
    margin: 3.3rem auto;
    width: 183rem;
    height: 3.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .cockpit .tool-bar .left-title .title {
      font-size: 3.5rem;
      color: "#14121F";
      font-weight: 600; }
    .cockpit .tool-bar .right-controller {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .cockpit .tool-bar .right-controller .datePick {
        display: flex;
        align-items: center; }
        .cockpit .tool-bar .right-controller .datePick .today, .cockpit .tool-bar .right-controller .datePick .yesterday {
          margin-right: 2rem;
          width: 10rem;
          height: 4rem;
          line-height: 4rem;
          text-align: center;
          background: #fff;
          border: solid 1px #edf1f9;
          border-radius: 4px;
          cursor: pointer;
          font-size: 1.6rem; }
          .cockpit .tool-bar .right-controller .datePick .today:hover, .cockpit .tool-bar .right-controller .datePick .yesterday:hover {
            background: #5b8ff9;
            color: #fff; }
        .cockpit .tool-bar .right-controller .datePick .active {
          background: #5b8ff9;
          color: #fff; }
      .cockpit .tool-bar .right-controller .date-picker {
        margin-right: 20px;
        width: 16rem;
        height: 3.8rem;
        font-size: 1.4rem; }
        .cockpit .tool-bar .right-controller .date-picker input {
          height: 3.8rem; }
          .cockpit .tool-bar .right-controller .date-picker input.el-input__inner {
            padding-right: 15px; }
        .cockpit .tool-bar .right-controller .date-picker .el-input__icon {
          line-height: 1; }
      .cockpit .tool-bar .right-controller .district-select {
        margin-right: 2rem;
        width: 12.4rem;
        height: 3.8rem; }
        .cockpit .tool-bar .right-controller .district-select .el-input input {
          width: 12.4rem;
          height: 3.8rem;
          font-size: 1.6rem;
          color: "#14121F";
          padding-right: 2.8rem; }
        .cockpit .tool-bar .right-controller .district-select .el-input__icon {
          line-height: 1; }
      .cockpit .tool-bar .right-controller .full-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3.8rem;
        height: 3.8rem;
        background: #fff;
        cursor: pointer; }
        .cockpit .tool-bar .right-controller .full-screen img {
          width: 2.4rem;
          height: 2.4rem; }
  .cockpit .data-box {
    overflow: hidden;
    padding: 0 1.5rem;
    height: 15rem;
    margin: 0 auto;
    width: 183rem;
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-radius: 8px; }
    .cockpit .data-box .data-group {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cockpit .data-box .data-group .card-item {
        margin-right: 4.6rem; }
        .cockpit .data-box .data-group .card-item:first-child {
          margin-right: 6.6rem; }
        .cockpit .data-box .data-group .card-item:last-child {
          margin-right: 0; }
      .cockpit .data-box .data-group.data-line:after {
        content: '';
        height: 70px;
        width: 1px;
        margin-left: 70px;
        background-color: #e2e2e2; }
      .cockpit .data-box .data-group.data-line:last-child:after {
        width: 0;
        margin-left: 0px; }
    .cockpit .data-box .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1.3rem;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      background: #5b8ff9; }
      .cockpit .data-box .img-box img {
        width: 3.4rem; }
  .cockpit .block-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 2.4rem;
    width: 183rem; }
    .cockpit .block-first .block-first-map {
      position: relative;
      width: 96.5rem;
      height: 41.7rem;
      background: #fff;
      border-radius: 8px;
      padding: 8px; }
    .cockpit .block-first .block-first-right {
      height: 41.7rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .cockpit .block-first .block-first-right .order-settle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 83.5rem;
        height: 19.8rem;
        background: #fff;
        border-radius: 8px;
        text-align: center; }
        .cockpit .block-first .block-first-right .order-settle .settle-item {
          margin-top: 2rem;
          padding-top: 2rem;
          height: 90%;
          width: 20%;
          background: url("../../assets/images/cockpit/icon-arch-in.png") no-repeat center 10%/92%, url("../../assets/images/cockpit/icon-arch-out.png") no-repeat center 0/100%; }
      .cockpit .block-first .block-first-right .table-list-all {
        height: 19.5rem; }
      .cockpit .block-first .block-first-right .table-list-paid {
        height: 35.8rem; }
      .cockpit .block-first .block-first-right .order-title {
        width: 78.4rem;
        margin: 3rem auto;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .cockpit .block-first .block-first-right .order-title .title-word {
          font-family: AGENCYFB_0;
          font-size: 2.4rem;
          color: #333;
          font-weight: 600; }
        .cockpit .block-first .block-first-right .order-title .yesterday-order-num {
          margin-bottom: .2rem;
          margin: 0 1rem;
          color: rgba(20, 18, 31, 0.5);
          font-size: 1.4rem;
          align-self: flex-end; }
        .cockpit .block-first .block-first-right .order-title .rate {
          padding-bottom: .5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: flex-end;
          background: #C2C4D1;
          padding: 0 5px;
          height: 1.8rem;
          width: fit-content;
          font-size: 1.2rem;
          color: #fff; }
          .cockpit .block-first .block-first-right .order-title .rate.up {
            background-color: #E86452; }
          .cockpit .block-first .block-first-right .order-title .rate.down {
            background-color: #41CC7C; }
  .cockpit .block-echarts {
    margin: 0 auto;
    margin-top: 2.7rem;
    margin-bottom: 5.7rem;
    display: grid;
    grid-template-columns: repeat(3, 58.8rem);
    grid-row-gap: 3.3rem;
    justify-content: space-between;
    width: 183rem; }
    .cockpit .block-echarts .ec-item {
      height: 45.3rem;
      background: #fff;
      border-radius: 8px; }
  .cockpit .ec-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    font-size: 2.4rem;
    color: #333;
    font-weight: 600; }
    .cockpit .ec-title .curr-date-rank {
      margin-left: 1rem;
      font-size: 1.4rem;
      color: #333;
      opacity: 0.5; }
    .cockpit .ec-title .tab {
      display: flex;
      align-items: center;
      border-radius: 4px; }
      .cockpit .ec-title .tab .tab-item {
        padding: .2rem .5rem;
        color: #333;
        font-size: 1.2rem;
        font-weight: 400;
        background: #1e202415;
        cursor: pointer; }
      .cockpit .ec-title .tab .active {
        color: #fff;
        background: #5B8FF9;
        opacity: 1; }
  .cockpit .label-rank {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .cockpit .label-rank .rank-icon, .cockpit .label-rank .rank-gasstationname {
      font-size: 1.4rem;
      color: #333;
      opacity: 0.5; }
    .cockpit .label-rank .rank-icon {
      margin: 0 3rem 0 5rem; }
  .cockpit .ec00-line-bar, .cockpit .ec01-line, .cockpit .ec02-bar, .cockpit .ec03-bar-line, .cockpit .ec04-bar-line, .cockpit .ec05-bar-line, .cockpit .ec06-bar-line, .cockpit .ec07-bar, .cockpit .ec08-bar {
    position: relative !important;
    height: 36rem !important; }
  .cockpit .rank-icon-content {
    position: absolute;
    display: flex;
    flex-direction: column; }
    .cockpit .rank-icon-content .rank-item {
      margin: 3rem 4.8rem 0.3rem;
      width: 3.2rem;
      height: 3.2rem;
      text-align: center;
      line-height: 3.2rem;
      border-radius: 50%;
      color: #fff;
      font-weight: 600;
      background: url("../../assets/images/cockpit/rank-others.png") no-repeat center center/100% 100%; }
    .cockpit .rank-icon-content .rank-first {
      background: url("../../assets/images/cockpit/rank-first.png") no-repeat center center/100% 100%; }
    .cockpit .rank-icon-content .rank-second {
      background: url("../../assets/images/cockpit/rank-second.png") no-repeat center center/100% 100%; }
    .cockpit .rank-icon-content .rank-third {
      background: url("../../assets/images/cockpit/rank-third.png") no-repeat center center/100% 100%; }
  .cockpit .chart01_bar {
    width: 600px; }

.cockpit-px {
  overflow: auto;
  background: #edf1f9;
  min-width: 1300px;
  padding-bottom: 100px; }
  .cockpit-px .tool-bar {
    margin: 22px auto;
    width: 1240px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .cockpit-px .tool-bar .left-title .title {
      font-size: 24px;
      color: "#14121F";
      font-weight: 600; }
    .cockpit-px .tool-bar .right-controller {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .cockpit-px .tool-bar .right-controller .datePick {
        display: flex;
        align-items: center; }
        .cockpit-px .tool-bar .right-controller .datePick .today, .cockpit-px .tool-bar .right-controller .datePick .yesterday {
          margin-right: 13px;
          width: 68px;
          height: 26px;
          line-height: 26px;
          text-align: center;
          background: #fff;
          border: solid 1px #edf1f9;
          border-radius: 4px;
          cursor: pointer;
          font-size: 10px; }
          .cockpit-px .tool-bar .right-controller .datePick .today:hover, .cockpit-px .tool-bar .right-controller .datePick .yesterday:hover {
            background: #5b8ff9;
            color: #fff; }
        .cockpit-px .tool-bar .right-controller .datePick .active {
          background: #5b8ff9;
          color: #fff; }
      .cockpit-px .tool-bar .right-controller .date-picker {
        margin-right: 20px;
        width: 108px;
        height: 25px;
        font-size: 10px; }
        .cockpit-px .tool-bar .right-controller .date-picker input {
          height: 25px; }
          .cockpit-px .tool-bar .right-controller .date-picker input.el-input__inner {
            padding-right: 15px; }
        .cockpit-px .tool-bar .right-controller .date-picker .el-input__icon {
          line-height: 1; }
      .cockpit-px .tool-bar .right-controller .district-select {
        margin-right: 13px;
        width: 84px;
        height: 25px; }
        .cockpit-px .tool-bar .right-controller .district-select .el-input input {
          width: 84px;
          height: 25px;
          font-size: 10px;
          color: "#14121F";
          padding-right: 20px; }
        .cockpit-px .tool-bar .right-controller .district-select .el-input__icon {
          line-height: 1; }
      .cockpit-px .tool-bar .right-controller .full-screen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        background: #fff;
        cursor: pointer; }
        .cockpit-px .tool-bar .right-controller .full-screen img {
          width: 16px;
          height: 16px; }
  .cockpit-px .data-box {
    overflow: hidden;
    padding: 0 10px;
    height: 100px;
    margin: 0 auto;
    width: 1240px;
    display: flex;
    justify-content: space-around;
    background: #fff;
    border-radius: 8px; }
    .cockpit-px .data-box .data-group {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .cockpit-px .data-box .data-group .card-item {
        margin-right: 31px; }
        .cockpit-px .data-box .data-group .card-item:first-child {
          margin-right: 44px; }
        .cockpit-px .data-box .data-group .card-item:last-child {
          margin-right: 0; }
      .cockpit-px .data-box .data-group.data-line:after {
        content: '';
        height: 70px;
        width: 1px;
        margin-left: 70px;
        background-color: #e2e2e2; }
      .cockpit-px .data-box .data-group.data-line:last-child:after {
        width: 0;
        margin-left: 0px; }
    .cockpit-px .data-box .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #5b8ff9; }
      .cockpit-px .data-box .img-box img {
        width: 3.4rem; }
  .cockpit-px .block-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 16px;
    width: 1240px; }
    .cockpit-px .block-first .block-first-map {
      position: relative;
      width: 652px;
      height: 282px;
      background: #fff;
      border-radius: 8px;
      padding: 8px; }
    .cockpit-px .block-first .block-first-right {
      height: 282px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .cockpit-px .block-first .block-first-right .order-settle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 565px;
        height: 134px;
        background: #fff;
        border-radius: 8px;
        text-align: center; }
        .cockpit-px .block-first .block-first-right .order-settle .settle-item {
          margin-top: 13px;
          padding-top: 13px;
          height: 90%;
          width: 20%;
          background: url("../../assets/images/cockpit/icon-arch-in.png") no-repeat center 10%/92%, url("../../assets/images/cockpit/icon-arch-out.png") no-repeat center 0/100%; }
      .cockpit-px .block-first .block-first-right .table-list-all {
        height: 132px; }
      .cockpit-px .block-first .block-first-right .table-list-paid {
        height: 242px; }
      .cockpit-px .block-first .block-first-right .order-title {
        width: 530px;
        margin: 20px auto;
        margin-bottom: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        .cockpit-px .block-first .block-first-right .order-title .title-word {
          font-family: AGENCYFB_0;
          font-size: 16px;
          color: #333;
          font-weight: 600; }
        .cockpit-px .block-first .block-first-right .order-title .yesterday-order-num {
          margin-bottom: 2px;
          margin: 1px;
          color: rgba(20, 18, 31, 0.5);
          font-size: 10px;
          align-self: flex-end; }
        .cockpit-px .block-first .block-first-right .order-title .rate {
          padding-bottom: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          align-self: flex-end;
          background: #C2C4D1;
          padding: 0 5px;
          height: 12px;
          width: fit-content;
          font-size: 8px;
          color: #fff; }
          .cockpit-px .block-first .block-first-right .order-title .rate.up {
            background-color: #E86452; }
          .cockpit-px .block-first .block-first-right .order-title .rate.down {
            background-color: #41CC7C; }
  .cockpit-px .block-echarts {
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 38px;
    display: grid;
    grid-template-columns: repeat(3, 398px);
    grid-row-gap: 22px;
    justify-content: space-between;
    width: 1240px; }
    .cockpit-px .block-echarts .ec-item {
      height: 306px;
      background: #fff;
      border-radius: 8px; }
  .cockpit-px .ec-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 16px;
    color: #333;
    font-weight: 600; }
    .cockpit-px .ec-title .curr-date-rank {
      margin-left: 6px;
      font-size: 10px;
      color: #333;
      opacity: 0.5; }
    .cockpit-px .ec-title .tab {
      display: flex;
      align-items: center;
      border-radius: 4px; }
      .cockpit-px .ec-title .tab .tab-item {
        padding: 1px 3px;
        color: #333;
        font-size: 8px;
        font-weight: 400;
        background: #1e202415;
        cursor: pointer; }
      .cockpit-px .ec-title .tab .active {
        color: #fff;
        background: #5B8FF9;
        opacity: 1; }
  .cockpit-px .label-rank {
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .cockpit-px .label-rank .rank-icon, .cockpit-px .label-rank .rank-gasstationname {
      font-size: 10px;
      color: #333;
      opacity: 0.5; }
    .cockpit-px .label-rank .rank-icon {
      margin: 0 20px 0 33px; }
  .cockpit-px .ec00-line-bar, .cockpit-px .ec01-line, .cockpit-px .ec02-bar, .cockpit-px .ec03-bar-line, .cockpit-px .ec04-bar-line, .cockpit-px .ec05-bar-line, .cockpit-px .ec06-bar-line, .cockpit-px .ec07-bar, .cockpit-px .ec08-bar {
    position: relative !important;
    height: 243px !important; }
  .cockpit-px .rank-icon-content {
    position: absolute;
    display: flex;
    flex-direction: column; }
    .cockpit-px .rank-icon-content .rank-item {
      margin: 20px 32px 2px;
      width: 21px;
      height: 21px;
      text-align: center;
      line-height: 21px;
      border-radius: 50%;
      color: #fff;
      font-weight: 600;
      background: url("../../assets/images/cockpit/rank-others.png") no-repeat center center/100% 100%; }
    .cockpit-px .rank-icon-content .rank-first {
      background: url("../../assets/images/cockpit/rank-first.png") no-repeat center center/100% 100%; }
    .cockpit-px .rank-icon-content .rank-second {
      background: url("../../assets/images/cockpit/rank-second.png") no-repeat center center/100% 100%; }
    .cockpit-px .rank-icon-content .rank-third {
      background: url("../../assets/images/cockpit/rank-third.png") no-repeat center center/100% 100%; }
  .cockpit-px .chart01_bar {
    width: 600px; }

.bg-white {
  background: #fff;
  border-radius: 8px; }

.item-sign {
  white-space: nowrap;
  padding: 0 8px;
  line-height: 32px; }

.item-last-line .last-line-first.is-disabled .el-input__inner {
  border-color: transparent;
  background-color: transparent; }
.item-last-line.item-sign {
  padding-left: 22px; }

.special-desc {
  color: #2F3337;
  padding: 15px;
  border: 1px solid #ffe69f;
  background-color: #ffe69f;
  border-radius: 5px;
  font-size: 12px;
  margin-top: 10px; }
  .special-desc .title {
    font-size: 14px;
    font-weight: bold; }
  .special-desc > div {
    padding: 1px; }

.el-range-editor--small.el-input__inner {
  min-height: 33px; }

.el-table th.el-table__cell > .cell {
  display: flex; }

#app .sidebar-container {
  width: 210px !important; }

#app .main-container {
  margin-left: 210px; }

/*# sourceMappingURL=index.css.map */
