//sidebar
//导航栏颜色

$headerBg: #fff;//header，footer背景颜色
$headerLogoTextColor: #3dafff;//header logo位置处字体颜色

$navBg: #324157;//左边菜单栏背景颜色
$navShadow: rgba(0, 0, 0, .5);//header下面阴影部分颜色
$navActiveTextColor: #409EFF;//选择logo字体颜色
$navSuffixColor: #fff;//未选中字体颜色

//导航栏右边
$navRightHover: #209e91;//
$avatarIColor: #999;//管理员下拉三角的背景颜色
$avatarIHoverColor: #64D9D6;//管理员下拉三角的背景颜色，移动上去

$navBarScrFull: red;

//左侧导航栏菜单颜色
$siderMainBg: #fff;
$siderConBg: #324157;
$subMenuBg: #1f2d3d;
$menuHover: #001528;

$scrollBarBg: #d3dce6;
$scrollBarThumbBg: #99a9bf;

//app背景色
$appBg: #324157;
$appBorder: #d1dbe5;
$appMenuBg: #2F3337;
$appMenuHoverBg: #202427;

//dialog头背景色
$dialogHeadBg: #f2f2f2;
$dialogBg: #fff;

//按钮
$btnColor: #fff;
$btnShadow: rgba(0, 0, 0, .2);

//面包屑高度
$breadHeight: 40px;
$breadHeightImg: 18px;
$breadLineHeightImg: 45px;

//左边菜单
$hideMenuWidth: 36px;
$menuWidth: 180px;
$menuHeight: 45px;

//字体大小设置
$fontsize12: 12px;


